<div style="text-align: center">
  <h1>{{ title }}</h1>
</div>
<div>
  <table class="center-hor layout-table" width="500px">
    <thead>
      <tr class="header-table-gray">
        <th>Nome Mercadoria</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let mercadoria of mercadorias">
        <td>
          {{ mercadoria.descricao }}
        </td>
        <td>
          {{ mercadoria.quantidade }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="center-hor form-container">
  <h3>Mercadoria</h3>
  <input
    type="text"
    name="descricao"
    [(ngModel)]="novoItem.descricao"
    required
  />
  <h3>Quantidade</h3>
  <input
    type="text"
    name="quantidade"
    [(ngModel)]="novoItem.quantidade"
    required
  />
  <button (click)="adicionarItem()">Adicionar</button>
</div>
