<div style="text-align: center">
    <h1>{{title}}</h1>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    Nome Mercadoria
                </th>
                <th>
                    Quantidade
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let mercadoria of mercadorias">
                <td>
                    {{mercadoria.descricao}} - {{mercadoria.quantidade}}
                </td>
            </tr>
        </tbody>
    </table>
</div>